<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- Estilos globales -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

  <!-- Estilos adicionales específicos de cada página -->
  {% block styles %}{% endblock %}

  <title>hola con tailwind</title>
</head>
<body>
  <nav class="bg-green-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">

        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">

              {% if session.get("usuario_id") and session.get("rol") == "Granjero" %}
                <a href="{{ url_for('mostrar_productos') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Mis Productos</a>
                <a href="{{ url_for('crear_producto') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Crear Producto</a>
              {% endif %}

              {% if session.get("usuario_id") and session.get("rol") == "Empresa" %}
                <a href="{{ url_for('productos_comprador') }}" class="rounded-md px-3 py-2 text-sm font-medium bg-white text-gray-900 hover:bg-gray-200">Ver productos</a>
              {% endif %}

              {% if not session.get("usuario_id") %}
                <a href="{{ url_for('register') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Register</a>
                <a href="{{ url_for('login') }}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Login</a>
              {% else %}
                <a href="{{ url_for('perfil') }}" class="rounded-md px-3 py-2 text-sm font-medium text-white hover:bg-gray-700">Perfil</a>
              {% endif %}

            </div>
          </div>
        </div>

        {% if session.get("usuario_id") %}
        <div class="hidden sm:block">
          <a href="{{ url_for('logout') }}" class="rounded-md px-3 py-2 text-sm font-medium text-red-300 hover:bg-red-600 hover:text-white">Cerrar sesión</a>
        </div>
        {% endif %}

      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}
</body>
</html>
